@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities */
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
  }
}

/* Global Styles */
body {
  font-family: "PingFang SC", "Microsoft YaHei", "Inter", sans-serif;
  background-color: #f3f4f6;
  -webkit-font-smoothing: antialiased;
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-content, .printable-content * {
    visibility: visible;
  }
  .printable-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
  }
  .no-print {
    display: none !important;
  }
}

/* Fix for html5-qrcode */
#reader img { display: inline-block; }
#reader video { object-fit: cover; border-radius: 0.5rem; }